<div class="alert alert-danger mt-3">
    Connection failed. Please:<br>
    1. Check WiFi connection to {{{ssid}}}<br>
    2. Try accessing http://{{{hostname}}} directly<br>
    3. Reboot device if unreachable
</div> 