<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>StairLeds Web Config</title>

    <link rel="stylesheet" href="css/fontawesome5.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="css/dark.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-slider.min.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/chartmanager.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="/api/handlebars-helpers"></script>
</head>