<h1>Demo</h1>

<button class="btn btn-outline-success btn-xl" onclick="socket.send('demo')">
    <i class="fa fa-play"></i>
    Start Demo
</button>


<button class="btn btn-outline-warning btn-xl" onclick="socket.send('stopdemo')">
    <i class="fa fa-stop"></i>
    Stop Demo
</button>


<button class="btn btn-outline-warning btn-xl" onclick="socket.send('cleardemo')">
    <i class="fa fa-reset"></i>
    Reset leds
</button>