<div class="card shadow mb-3">
    <div class="card-header py-3">
        <p class="text-primary m-0">Access Point Settings</p>
    </div>
    <div class="card-body">
        <form id="access-point-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="apname" class="form-label"><strong>AP Name</strong></label>
                        <input class="form-control" type="text" id="apname" placeholder="select an access point" name="apname" value="{{apName}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="password" class="form-label"><strong>Password</strong></label>
                        <input class="form-control" type="password" id="password" placeholder="******" name="password" value="{{apPassword}}">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Save Settings</button>
            </div>
        </form>
    </div>
</div> 