<div class="modal fade" id="modeSwitch" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning: Mode Switch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Switching WiFi mode will restart the system. The page will become unavailable during the switch.</p>
                <p>If switching to:</p>
                <ul>
                    <li><strong>AP Mode:</strong> Connect to the configured WiFi network name</li>
                    <li><strong>Client Mode:</strong> The device will connect to the selected WiFi network</li>
                </ul>
                <p>Are you sure you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning" id="confirmModeSwitch">Switch Mode</button>
            </div>
        </div>
    </div>
</div> 